// Custom

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.5rem;

    @include respond(md) {
        --article-font-size: 1.5rem;
    }

    --article-line-height: 1.75;
}

