using 'main.bicep'

// General
param global_env = 'dev'
param global_prefix = 'my-webapp'
param location = 'westus2'
param tags = {
  CreatedBy: 'bicep'
  Environment: global_env
  Project: 'my-webapp'
}

// Web App
param repoProvider = 'Github' // Devops
param repoToken = '12345' // Token used for deployment.
param repoUrl = 'https://github.com/my-repo/repo'
param repoBranch = 'main'
param skuName = 'free'
param skuTier = 'free'
param appLocation = '/src'
param apiLocation = ''
param appArtifactLocation = 'public'
param enterpriseGradeCdnStatus= 'disabled'